body{
    background-color: #CDB7B5;
}


#root{
    display: flex;  
    justify-content: center;
    height: 100%;  
    
}

#container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;    
    
   
}
#principal{
    margin-bottom: 25%;
    border-radius: 5px;
    background-color:#FFE4E1;
}

#box{
    display: flex;
    flex-direction: column; 
    padding: 10%;
    border-radius: 5px;
    margin:0;
}

label{
    margin-bottom:5%;
    font-size: 115%;
    border-radius: 5px;
    font-family: monospace;
    
    

}
textarea{
    border-radius: 5px;
   
}

input{
    margin-bottom:2% ;
    border-radius: 5px;
 
 
}

#text{
    padding: 30%;
    margin-bottom: 5%;  
    

}

button{
    width: 40%;
    height: 40%;
    color: darkmagenta;
    border-radius: 5px;
    font-weight: bold;
    background-color: violet;
    margin-bottom:5%;

}

