* {
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    /* background-image:url('backgroundimg.jpg'); */
    background-attachment:fixed;
    background-size: 100%;
    
}

#header{
    text-align: center;
    
}
h1{
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 90px;
    margin-bottom: 3%;
    color:#A8335E;   
    padding-bottom:1%;

}

h2{
    font-family:monospace;
    font-size: 30px;
    margin-bottom:2%;
    color: #A8335E;
}

#root{
    display: flex;  
    justify-content: center;
    margin-bottom: 35px;
        
}

#container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;    
    
   
}
#principal{    
    border-radius: 5px;
    background-color:#FFE4E1;
    
}
#secondPrincipal{  
    border-radius: 5px;
    background-color:#FFE4E1;
    
}

#box{
    display: flex;
    flex-direction: column; 
    padding: 10%;
    border-radius: 5px;
    border:none;
}
#secondBox{
    display: flex;
    flex-direction: column; 
    padding: 10%;
    border-radius: 5px;
    border:none;
}

label{
    margin-bottom:5%;
    font-size: 115%;
    border-radius: 5px;
    font-family: monospace;
    

}

textarea{
    border-radius: 5px;
   
}

input{
    margin-bottom:2% ;
    border-radius: 5px;
 
 
}

#text{
    padding: 30%;
    margin-bottom: 5%;  
}
    
#answer{
    padding: 30%;
    margin-bottom: 5%;  
}


button{
    width: 35%;
    color: white;
    border-radius: 5px;
    border: 1px solid #a8335e;
    font-weight: bold;
    background-color: #9c4a68;
    margin-bottom:5%;
    padding: 2px;


}
button:hover{
    background-color:#A8335E;
}

#footer{
    background-color: #A8335E;
    color:black;
    height: 40px;
    padding: 10px;
    text-align: center;
    
}
#footer a{
    color: white;
    text-decoration: none;
    
}
#footer p{
    margin-top: 5px;
}
#footer a:hover{
    font-size: 16px;
    
}